<header class="profile">
    {{ if .Site.Params.avatarLink }}
        <a href="{{ .Site.Params.avatarLink }}">
          <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
        </a>
    {{ else }}
        <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
    {{ end }}

    {{ if not (or .Params.hideProfile false) }}
    <h1>{{ .Site.Title }}</h1>
    
    {{ with .Site.Params.Bio }}
      <h2>{{ . | markdownify }}</h2>
    {{ end }}
    {{ end }}
</header>